label {

	color:rgba(255,255,255,0.7) ! important;
}
.MuiFormHelperText-root-114{
	color:rgba(255,255,255,0.7) ! important;
}
.MuiInput-underline-96:after{
	background-color:#ffffff ! important;
}

.MuiSvgIcon-root-108{
	color:rgba(255,255,255,0.7) ! important;
}
.MuiInput-input-100{
	color:rgba(255,255,255,0.7) ! important;
}
.MuiTab-label-20{
	color:rgba(255,255,255,0.7) ! important;
}