.backGround{
margin: 0 auto;
background-image: url("../Images/LoginBg.jpg");
background-repeat: no-repeat;
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index: -1;
}

.LoginPadding 
{
width: 500px;
height: 500px;
text-align: center;
background-color:rgba(52,73,94,0.9);
border-radius: 4px; 
margin: 0 auto;
margin-top: 150px;


}


.LoginText {
  	text-align: center;
  	color:#fff;
  	font-size: 27;

}
.WelcomeText{
	padding:2px;
  	text-align: center;
  	color:#fff;
  	font-size: 40;


}
.MuiButton-raised-115{
	background-color:rgba(102, 102, 255,0.6) ! important;
}
.MuiButton-root-110{
	font-size:1.3rem! important;
	font-weight: 200 ! important;
	color: rgba(255,255, 255, 0.9)! important;
	text-transform: capitalize ! important;
}
.MuiFormLable-focused-78{
	color: rgba(255,255, 255, 0.9)! important;
}
lable{
    color: rgba(255,255, 255, 0.9)! important;
}
<<<<<<< HEAD
.MuiFormHelperText-root-100{
	color: rgba(255,255, 255, 0.9)! important;
}
.MuiSvgIcon-root-94{
	color:#fff;
}

.ButtonPadding{
    padding-top:20px ;
}
.MuiFormHelperText-root-106{
    color: rgba(255,255, 255, 0.9)! important;
}
